@font-face {
  src: url(../fonts/Qanelas-Bold.ttf);
  src: url(../fonts/Qanelas-ExtraBold.ttf);
  src: url(../fonts/Qanelas-Light.ttf);
  src: url(../fonts/Qanelas-Medium.ttf);
  font-family: Qanelas;
}
