.accessories-container {
  margin-top: 88px;
  height: 80vh;
  overflow: scroll;
  overflow-x: hidden;
}

.accessories-container::-webkit-scrollbar {
  width: 5px;
}

.accessories-container::-webkit-scrollbar-track {
  background: #D8D8D8;
}

.accessories-container::-webkit-scrollbar-thumb {
  width: 5px;
  height: 5% !important;
  background: #575757;
  border-radius: 10px;
}

.accessories-text {
  margin-bottom: 34px;
  font-family: 'Qanelas';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #1C1C1C;
}

.accessory-box {
  cursor: pointer;
  border: 1px solid #a4a4a416;
  border-radius: 11px;
  color: #0F0F0F;
  margin: 10px;
  height: 283px;
  width: 283px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all ease .8s;
}

.accessory-box:hover {
  background-color: #0f0f0f0f;
}

.accessory-box .accessory-name,
.accessory-box .price-area .price {
  font-family: 'Qanelas';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.992366px;
  text-transform: uppercase;
}

.accessory-box.active {
  background: #292929;
  color: #ffff;
}

.accessory-name {
  width: 75%;
  text-align: center;
}

.price-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-icon-accessory {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  margin-top: 26px;
  width: 33px;
  height: 33px;
  background-color: #000000;
  align-content: center;
  border-radius: 50%;
}

.select-icon-accessory.active {
  animation: shake 0.8s;
  opacity: 1;
}